@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonte padrão global */
body {
  @apply bg-white text-black dark:bg-gray-900 dark:text-white;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}

/* Estilo global para botões com suporte a tema escuro/claro */
button {
  @apply px-4 py-2 rounded font-medium transition duration-300;

  /* Tema claro */
  @apply bg-blue-500 text-white hover:bg-blue-600;

  /* Tema escuro */
  @apply dark:bg-blue-700 dark:text-white dark:hover:bg-blue-800;
}

/* Melhorando o layout geral */
h1,
h2,
h3,
h4,
h5 {
  @apply font-semibold;
  font-family: 'Poppins', sans-serif;
}

a {
  @apply transition-colors duration-300;
}

section {
  @apply py-12 px-4 md:px-8;
}